@import "responsive";

$black: #222222;
$white: #ffffff;
$poppins: 'Poppins', sans-serif;
$play: 'Play', sans-serif;
$spoqa: 'Spoqa Han Sans Neo', 'sans-serif';

@mixin border($width, $color) {border: $width solid $color;}
@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}
@mixin ellipsis($num: 1) {
    @if ($num == 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      overflow: hidden;
      word-break: keep-all;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $num;
    }
}
@mixin background ($folder: folder_name, $img: file, $type: png, $repeat:no-repeat, $size, $x:0, $y:0) {
    background-image: url(../../images/#{$folder}/#{$img}.#{$type});
    background-repeat: #{$repeat};
    background-size: #{$size}; 
    background-position: #{$x} #{$y};
} 

*{
    box-sizing: border-box;
    letter-spacing: -0.02em;
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    *{
        font-weight: 400;
        color: $black;
    }
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.con-box{
    width: calc(100% - 4rem);
    max-width: 1920px;
    margin: 0 auto;
}

.category-list {
    .category-list-tit {
        font-family: $spoqa;
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 0.6rem;
        border-bottom: 1px solid $black;
    }
    .category-list-wrap {
        margin-top: 2.4rem;
        .active {
            ul {
                width: 100%;
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;
                gap: 6rem 2.4rem;
                li {
                    width: calc(25% - 1.8rem);
                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        div {
                            position: relative;
                            margin-bottom: 1.2rem;
                            width: 100%;
                            max-height: 38rem;
                            height: 87%;
                            overflow: hidden;
                            border: 1px solid #eee;
                            @include flexbox(row, center, center);
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                object-fit: cover;
                                transition: all .35s;
                            }
                        }
                        .sub-tit {
                            position: relative;
                            font-family: $spoqa;
                            font-weight: 600;
                            font-size: 2rem;
                            @include ellipsis(1);
                        }
                        span {
                            @include ellipsis(2);
                            font-family: $spoqa;
                            font-size: 1.6rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.hide {
    position: absolute;
    width: 1px!important;
    height: 1px!important;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc{display: block;}
.d-mb{display: none;}
@include tablet{
    .d-pc{display: none;}
    .d-mb{display: block;}
}
